/nbproject/
/build/
/dist//
/.jacocoverage/
/Collectie-Koppelen-Aan-De-User-Interface/nbproject/private/
/Collectie-Koppelen-Aan-De-User-Interface/build/
/Collectie-Koppelen-Aan-De-User-Interface/dist/